<nav class="pagination clearfix" role="pagination">
    <a class="newer-posts btn{{^if prev}} disabled{{/if}}" href="{{page_url prev}}"><span class="ion-arrow-left-c"></span> newer</a>
    <span class="page-number">Page {{page}} of {{pages}}</span>
    <a class="older-posts btn{{^if next}} disabled{{/if}}" href="{{page_url next}}">older <span class="ion-arrow-right-c"></span></a>
</nav>